/* Custom CSS for the Login Form */
.bg-primary {
  background-color: #3b82f6;
}

.text-primary {
  color: #3b82f6;
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 10px;
}
.slide-container {
  transition: all 0.3s ease-in-out;
}

.slide-panel {
  transition: all 0.5s;
}

/* 
.img-fluid {
    max-width: 50%;
    ima
    height: 300px;
    background-color: none;
} */
